@import 'swiper/scss';
@import 'swiper/scss/navigation';
@import 'swiper/scss/pagination';
@import '../../../../styles.scss';

.swiper-container {
    width: 90%;
    margin: auto;
    margin-top: 50px;
    

}

.swiper-img-continer {
    height: 450px;
    width: 90%;
    margin: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: $border-radius;
   
    .container-info{
        background-color: rgba(0, 0, 0, 0.414);
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: $border-radius ;
        
        .content-info{
            margin-left: 50px;
            color: white;
        }

        .title {
            font-size: $font-size;
            margin: 10px 0  10px  50px;
        }
        .overview {
            width: 50% ;
            
        }
        .fa-solid{
            margin-right: 10px;
            color: #F0F363;
        }
        button{
            background-color: #93939260;
            width: 12%;
            padding: 15px 10px 15px 10px;
            border-radius: 10px;
            border: none;
            font-size: 16px;
            font-weight: 700;
            
            
        }
        button:hover{
            background: linear-gradient(#939392a1, #93939260);
            cursor: pointer;
        }
   

   
    }

}
.swiper-button-next{
    color: black;
    font-weight: 900;
}
.swiper-button-prev{
    color: black;
    font-weight: 900;
}

.film-container {
    display: flex;
    flex-direction: row;

}

.img-container {

    width: 33%;

    img {


        border-radius: 25px;
    }
}

.film-container-responsive {
    display: flex;
    flex-direction: row;
    overflow-y: hidden;

}

.img-container-responsive {
    max-width: 200px;
    margin-bottom: -460px;

    img {

        max-height: 37%;
        border-radius: 10px;
    }

}